header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/*nav*/
nav ul {
  display: flex;
  color: aliceblue;
  align-items: center;
  list-style: none;
  gap: 40px;
  justify-content: center;
  font-size: 32px;
  font-family: 'Bebas Neue', sans-serif;
  padding: 0 150px;
  border: solid white;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);

}

nav a {
  position: relative;
  color: aliceblue;
  text-decoration: none;
  padding: 5px 0;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #c00000;
  transition: width 0.25s ease;
}

nav a:hover {
  color: #c00000;
}

nav a:hover::after {
  width: 100%;
}

/*corps*/

body {
  background-image: url("/Css/IMG/ChatGPT Image 10 févr. 2026, 11_59_55.png");
  background-size: contain;
  background-attachment: fixed;
  margin: 40px
}


/* titre */
h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  text-align: center;
  font-size: 30px;
  color: aliceblue;
}

h3 {

  display: block;
  margin: 0 0 12px 0;
  text-align: left;
  font-size: 30px;
  text-decoration: underline 5px;
}

/*requiem section */

.ResidentEvilRequiem {
  display: block;
  margin: 0;
  text-align: left;
  font-size: x-large;
}

section.articlerequiem {
  color: #ffffff;
  grid-template-columns: 1fr 1.5fr;
  justify-content: flex-end;

}

.image-requiem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 images par ligne */
  gap: 30px;
  justify-items: center;
  margin-top: 30px;
}

.image-requiem img {
  width: 500px;
  height: auto;
  border-radius: 6px;
  border: solid black 2px;
}

.articlerequiem {
  max-width: 1200px;
  height: 420px;
  margin: 40px auto;
  padding: 40px;
  background-image: url("/Css/IMG/resident\ evil\ requiem\ second.png");
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.requiem-content {
  position: absolute;
  max-width: 45%;
  padding: 20px;
  border: 2px solid rgb(255, 255, 255);
  /* ton cadre */
  text-align: left;
  bottom: 75px;
  right: 750px;
  background-color: rgba(0, 0, 0, 0.6);

}

/* les quatres articles R2 R3 R4 R8 */

.games {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  max-width: 1200px;
  margin: 80px auto;
}



.game-card {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 540px;   
  height: 360px;  
  transition: transform .3s ease;
  object-fit: contain;
  color: aliceblue;
  border-radius: 10px;

}

.game-card:hover {
  transform: scale(1.05);
}

.re2 {
  background-image: url("/Css/IMG/re2.jpg");
}

.re3 {
  background-image: url("/Css/IMG/re3.jpg");
}

.re4 {
  background-image: url("/Css/IMG/re4.jpg");
}

.re8 {
  background-image: url("/Css/IMG/re8.jpg");
}

/*Popup*/

.popup {
  position: absolute;
  inset: 0;                     
  background: rgba(0,0,0,0.75);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 20px;

  opacity: 0;
  transition: opacity .3s ease;
}

.game-card:hover .popup {
  opacity: 1;
}

